.guestbook-contents{
  width: 60%;
  position: absolute;
  font-weight: bold;
  top: 8vh;
  width: 70vw;
  height: 65vh;
  justify-content: left;
}

.guestbook-add-button{
  background-image: url('../../assets/images/guestbook_add_button.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 50px;
  border: 0;
  margin: 50px 420px;
}

.guestbook-title{
  font-size: 32px;
  font-weight: bold;
}

.guestbook-subtitle{
  font-size: 16px;
  font-weight: 200;
}

.guestbook-add-button img{
  width: 140px;
  height: 40px;
}