.guestbook-contents{
  width: 60%;
}

.guestbook-add-button{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.guestbook-title{
  font-size: 32px;
  font-weight: bold;
}

.guestbook-subtitle{
  font-size: 16px;
  font-weight: 200;
}

.guestbook-add-button img{
  width: 140px;
  height: 40px;
}