.guestbook-contents{
  width: 60%;
  position: absolute;
  font-weight: bold;
  top: 8vh;
  width: 70vw;
  height: 65vh;
  justify-content: left;
  margin-left: 0.5vw;
  margin-right: 3vw;
  margin-top: 0.1vh;
}

.guestbook-add-button{
  width: 50px;
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.guestbook-title{
  font-size: 32px;
  font-weight: bold;
}

.guestbook-subtitle{
  font-size: 16px;
  font-weight: 200;
}

.guestbook-add-button img{
  width: 140px;
  height: 40px;
}