.film-container {
  margin-right: 0.37%;
  width: 13.865%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.film-layer-top {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: black;
  transition: height 0.5s ease;
}

.film-layer-bottom {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: black;
  transition: height 0.5s ease;
}

.film-container:hover .film-layer-bottom {
  height: 0;
}

.film-container:hover .film-layer-top {
  height: 0;
}
