/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
} */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.films-container {
  position: absolute;
  /* left: 70vw; */
  top: 15vh;
  flex-shrink: 0;
  min-width: 100%;
  z-index: 0;
}

.films-content {
  display: flex;
  height: 60vh;
  position: absolute;
  margin-left: 0.34%;
  margin-right: 0.35%;
  top: 11.8%;
  bottom: 12%;
  width: 100%;
  height: 74.7%;
}
