.introduction {
  position: absolute;
  font-size: 10em;
  font-weight: bold;
  top: 8vh;
  width: 30vw;
  height: 50vh;
  justify-content: left;
  margin-left: 0.5vw;
  margin-right: 3vw;
  margin-top: 0.1vh;
}
