.header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10%;
  padding-left: 20px;
  padding-top: 10px;
}

.logo-container {
  height: 70px;
  font-weight: lighter;
  font-size: 3em;
  cursor: pointer;
}

.guestbook-container {
  text-align: center;
  margin-left: 50px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 70px;
  cursor: pointer;
}

.about-container {
  margin-left: 50px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 70px;
  cursor: pointer;
}

.link-decoration {
  text-decoration: none;
  color: black;
}
