.header {
  position: fixed;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo-container {
  font-weight: lighter;
  font-size: 3rem;
  cursor: pointer;
}

.header-container {
  cursor: pointer;
}

.link-decoration {
  text-decoration: none;
  color: black;
}
