@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.header {
  font-family: 'Pretendard';
  position: fixed;
  width: 100vw;
  height: 7.41vh;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px;
}

.logo-container {
  margin-left: 18.9vw;
  font-weight: lighter;
  font-size: 3rem;
  cursor: pointer;
  padding: 0 1rem;
}

.header-container {
  font-style: normal;
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 2.22vh;
  text-decoration: none;
  color: #00031c;
  cursor: pointer;
  padding-right: 2.65vw;
}

.link-decoration {
  font-style: normal;
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 2.22vh;
  text-decoration: none;
  color: #00031c;
}

.link-decoration:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
