.maincontainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  padding-right: 2%;
}

.introduction {
  font-weight: bold;
  width: 30vw;
  height: 65vh;
  justify-content: left;
  margin-left: 20px;
  margin-right: 100px;
}

.introduction > p {
  font-size: 10em;
  margin: 0;
}

.maincontainer::-webkit-scrollbar{
  display: none;
}