@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.Member_item {
    width: 14.37vw;
    height: 26.57vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.snowman {
    width: 10vw;
    height: 24vh;
    flex-shrink: 0;
    margin: 0;
}

.nameplus {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 2rem;
}

.job {
    color: grey;
    font-weight: bold;
    font-size: 1.6rem;
}